---
pagination:
  data: sitecontent.news.items
  size: 1
  alias: ne
permalink: "news/{{ ne.fields.slug }}/{{ ne.fields.slug }}.html"
layout: layout.liquid
eleventyComputed:
  title: "{{ ne.fields.title }}"
---
<h1>
  {{ ne.fields.title }}
</h1>
