---
permalink: "news.html"
---
<div>
  <ul>
  {% for news in sitecontent.news.items %}
    <li>
      <a href="news/{{ news.fields.slug }}/{{ news.fields.slug }}.html">{{ news.fields.title }}</a>
    </li>
  {% endfor %}
  </ul>
</div>
